<p id="notice"><%= notice %></p>

<h1>Listing Match Requirements</h1>

<table>
  <thead>
    <tr>
      <th>Requirement type</th>
      <th>Requirement</th>
      <th>Importance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @match_requirements.each do |match_requirement| %>
      <tr>
        <td><%= match_requirement.requirement_type %></td>
        <td><%= match_requirement.requirement %></td>
        <td><%= match_requirement.importance %></td>
        <td><%= link_to 'Show', match_requirement %></td>
        <td><%= link_to 'Edit', edit_match_requirement_path(match_requirement) %></td>
        <td><%= link_to 'Destroy', match_requirement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Match requirement', new_match_requirement_path %>

<br>
<br>
<br>

<%= link_to "Return to Profiles", profiles_path %>

<br>
<br>

<%= link_to "Home", root_path %>
